<div *ngIf="uiProp">
    <div *ngIf="!uiProp.isCheckbox && uiProp.choiceList == null" class="form-group row">
        <label class="col-sm-3 col-form-label">{{labelText}}</label>
        <div class="col-sm-9">
            <input #i (blur)="uiProp.value=i.value" [value]="uiProp.value" placeholder="{{labelText}}"
                class="form-control" [class.c360-modified]="uiProp.isModified" [class.c360-invalid]="uiProp.errorInfo" 
                [disabled]="uiProp.isReadOnly" [type]="uiProp.inputType" />
        </div>
    </div>

    <div *ngIf="uiProp.choiceList != null" class="form-group row">
        <label class="col-sm-3 col-form-label">{{labelText}}</label>
        <div class="col-sm-9">
            <select [(ngModel)]="uiProp.value" class="form-control">
                <option *ngFor="let choice of uiProp.choiceList" [value]="choice.value">
                    {{choice.text}}
                </option>
            </select>
        </div>
    </div>

    <div *ngIf="uiProp.isCheckbox" class="form-group row">
        <label class="col-sm-3">{{labelText}}</label>
        <div class="col-sm-9">
            <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [(ngModel)]="uiProp.value">
            </label>
            </div>
        </div>
    </div>
</div>
