<div *ngIf="uiProp">
<!--    <div *ngIf="!uiProp.isCheckbox && uiProp.ChoiceList == null" class="form-group">
        <label>{{uiProp.FullName}}</label>
        <div>
            <input #i (blur)="uiProp.BoundValue=i.value" [value]="uiProp.BoundValue" placeholder="uiProp.FullName"
                class="form-control" [class.c360-modified]="uiProp.IsModified" [class.c360-invalid]="uiProp.ErrorInfo" 
                [disabled]="uiProp.IsReadOnly" [type]="uiProp.inputType" />
        </div>
    </div>
-->    
    <div *ngIf="!uiProp.isCheckbox && uiProp.ChoiceList == null" class="form-group">
        <label class="col-sm-3 control-label">{{uiProp.FullName}}</label>
        <div class="col-sm-9">
            <input #i (blur)="uiProp.BoundValue=i.value" [value]="uiProp.BoundValue" placeholder="uiProp.FullName"
                class="form-control" [class.c360-modified]="uiProp.IsModified" [class.c360-invalid]="uiProp.ErrorInfo" 
                [disabled]="uiProp.IsReadOnly" [type]="uiProp.inputType" />
        </div>
    </div>

    <div *ngIf="uiProp.ChoiceList != null" class="form-group">
        <label class="col-sm-3 control-label">{{uiProp.FullName}}</label>
        <div class="col-sm-9">
            <select [(ngModel)]="uiProp.BoundValue" class="form-control">
                <option *ngFor="let choice of uiProp.ChoiceList" [value]="choice.value">
                    {{choice.text}}
                </option>
            </select>
        </div>
    </div>

    <div *ngIf="uiProp.isCheckbox" class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label>
                    <input #i (blur)="uiProp.BoundValue=i.value" [value]="uiProp.BoundValue" placeholder="uiProp.FullName"
                        class="form-control" [class.c360-modified]="uiProp.IsModified" [class.c360-invalid]="uiProp.ErrorInfo" 
                        [disabled]="uiProp.IsReadOnly" [type]="uiProp.inputType" />
                        {{uiProp.FullName}}
                </label>
            </div>
        </div>
    </div>

    <button *ngIf="uiProp.IsModified" (click)="uiProp.reset()">Reset</button>
</div>
