/* TODO: Move app-header styles to header.component.css */
app-header {
    height: 65px;
    background-color: #283593;
    color: white;
    display: flex;
    flex-direction: row;
}

/* TODO: Apply app-model styles to whatever component is being displayed in router-outlet rather than specific component */
app-model {
    min-height: calc(100vh - 84px);
    max-height: calc(100vh - 84px);
    display: flex;
}

/* TODO: Move app-footer styles to footer.component.css */
app-footer {
    background-color: #283593;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}