:host {
  height: calc(100vh);
  display: flex;
  flex-direction: column;
}

#main-content {
  min-height: calc(100vh - 84px);
  max-height: calc(100vh - 84px);
  display: flex;
}

busy-indicator {
  position: absolute;
  height: calc(100vh - 84px);
  width: 100%;
}